@font-face {
    src: url(Fonts/PICOW___.TTF);
    font-family: twitter;
}

@font-face {
    src: url(Fonts/PICOBL__.TTF);
    font-family: twitter2;
}

@font-face {
    src: url(Fonts/Ubuntu-C.ttf);
    font-family: ubuntu;
}

.App-header {
    background-color: #313131;
    display: flex;
    justify-content: center;
    color: #ffe6bc;
    width: 90vw;
    margin: 40px auto 0;
}

.splash-title {
    font-size: 70px;
    font-family: twitter2;
}
.splash-title2 {
    font-size: 50px;
    font-family: twitter;
}
.splash-p {
    font-size: 40px;
    font-family: ubuntu;
}

.splash-footer {
    background-color: #343a40;
    color: #ffe6bc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
}

.splash-footer a {
    color: #ffd181;
}

.splash-footer a:hover {
    color: #ffae52;
    text-decoration: none;
}

.link {
    color: #ffe6bc;
    font-family: ubuntu;
    font-size: 20px;
}

.link:hover {
    color: #ffd181;
}

.tweet h4 {
    font-weight: bold;
}

.showcase-image {
    padding: 5vw;
}

.showcase-image img {
    border-radius: 50%;
}

.showcase-image a {
    color: #ffe6bc;
    text-decoration: none;
    font-family: ubuntu;
}

.showcase-image a:hover {
    color: #ffd181;
    text-decoration: none;
}

.individual-h2 {
    color: #ffe6bc;
    font-family: ubuntu;
    background-color: rgba(65, 74, 77, 0.8);
    border-radius: 20px;
    max-width: 85%;
    margin: 30px auto;
}

.tweet-text {
    color: #1a1d35;
    padding: 10px 10px 10px 80px;
}

.tweet-text a {
    color: rgba(0, 65, 204, 0.8);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.tweet-text a:hover {
    color: rgba(0, 84, 112, 1);
    text-decoration: none;
}

.screen-name {
    color: rgba(0, 65, 204, 0.8);
    cursor: pointer;
}
.screen-name:hover {
    color: rgba(0, 84, 112, 1);
}
.source {
    color: rgba(65, 74, 77, 0.8);
}

.searchbar {
    box-shadow: 3px 3px 2px rgba(0, 56, 78, 0.8), 2px 3px 4px rgb(40, 85, 105);
}

.mention {
    cursor: pointer;
    font-weight: bold;
    color: blue;
}

.showcase-card {
    background-color: #262626;
    border: 2px rgb(21, 161, 154) solid;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #ffe6bc;
    box-shadow: 2px -2px 2px rgba(220, 247, 255, 0.1), 3px 3px 2px rgba(220, 247, 255, 0.2),
        2px 3px 4px rgba(75, 155, 192, 0.5);
}

.showcase-card:hover {
    color: #ffd181;
}

.showcase-card h5 {
    color: rgb(0, 143, 179);
}

.showcase-card h5:hover {
    color: rgb(0, 175, 219);
}

.error-card {
    background-color: #4b2f36;
    color: rgb(255, 168, 183);
    border: 2px solid #262626;
    box-shadow: 2px -2px 2px rgba(220, 247, 255, 0.1), 3px 3px 2px rgba(220, 247, 255, 0.2),
        2px 3px 2px rgba(192, 75, 75, 0.8);
    border-radius: 10px;
    font-family: ubuntu;
}
