@font-face {
    src: url(Fonts/PICOW___.TTF);
    font-family: twitter;
}

@font-face {
    src: url(Fonts/PICOBL__.TTF);
    font-family: twitter2;
}

@font-face {
    src: url(Fonts/Ubuntu-C.ttf);
    font-family: ubuntu;
}

.App-header {
    background-color: #313131;
    display: flex;
    justify-content: center;
    color: #ffe6bc;
    width: 100vw;
    margin: 40px 0 40px 0;
}

.splash-title {
    font-size: 70px;
    font-family: twitter2;
}
.splash-title2 {
    font-size: 50px;
    font-family: twitter;
}
.splash-p {
    font-size: 40px;
    font-family: ubuntu;
}

.splash-footer {
    background-color: rgb(0, 150, 163);
    color: #ffe6bc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
}

.brand {
    color: rgb(0, 255, 242);
    text-decoration: none;
}

.brand:hover {
    color: rgba(0, 255, 170, 0.9);
    text-decoration: none;
}

.splash-footer a {
    color: #ffd181;
}

.splash-footer a:hover {
    color: #ffae52;
    text-decoration: none;
}

.link {
    color: #ffe6bc;
    font-family: ubuntu;
    font-size: 20px;
}

.link:hover {
    color: #ffd181;
}

.tweet {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 60vw;
    padding: 10px;
    margin: 20px;
    box-shadow: 2px -2px 2px rgba(220, 247, 255, 0.1), 3px 3px 2px rgba(220, 247, 255, 0.2),
        2px 3px 4px rgba(75, 155, 192, 1);
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: #313131;
}
.tweet h4 {
    font-weight: bold;
}

.showcase-image {
    padding: 5vw;
}

.showcase-image img {
    border-radius: 50%;
}

.showcase-image a {
    color: #ffe6bc;
    text-decoration: none;
    font-family: ubuntu;
}

.showcase-image a:hover {
    color: #ffd181;
    text-decoration: none;
}

.individual-h2 {
    color: #ffe6bc;
    font-family: ubuntu;
    background-color: rgba(65, 74, 77, 0.8);
    border-radius: 20px;
}

.tweet p {
    color: #4e5f5d;
}

.tweet-text {
    font-weight: bold;
    color:  #1a1d35;
}

.username {
    color: rgba(65, 74, 77, 0.8);
}

.searchbar {
    box-shadow: 3px 3px 2px rgba(0, 56, 78, 0.8), 2px 3px 4px rgb(40, 85, 105);
}
