@font-face {
    src: url(Fonts/PICOW___.TTF);
    font-family: twitter;
}

@font-face {
    src: url(Fonts/PICOBL__.TTF);
    font-family: twitter2;
}

@font-face {
    src: url(Fonts/Ubuntu-C.ttf);
    font-family: ubuntu;
}

.App-header {
    background-color: #313131;
    display: flex;
    justify-content: center;
    color: #ffe6bc;
}

.splash-title {
    font-size: 70px;
    font-family: twitter2;
}
.splash-title2 {
    font-size: 50px;
    font-family: twitter;
}
.splash-p {
    font-size: 40px;
    font-family: ubuntu;
}

.splash-footer {
    background-color: rgb(0, 150, 163);
    color: #ffe6bc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.splash-footer a {
    color: #ffd181;
}

.splash-footer a:hover {
    color: #ffffff;
    text-decoration: none;
}

.link {
    color: #ffe6bc;
    font-family: ubuntu;
    font-size: 20px;
}

.link:hover {
    color: #ffd181;
}

.tweet {
    background-color: rgb(255, 255, 255);
    text-align: left;
    width: 60vw;
    padding: 10px;
    margin: 20px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4d4d;
}

.tweet h4 {
    font-weight: bold;
}

.username {
    color: rgba(75, 155, 192, 1);
}
