# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.twitter-asp.net.core.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Stanzu\RiderProjects\twitter-asp.net.core\.idea\.idea.twitter-asp.net.core\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
